<br />

<div class="booyah-box col-10 offset-1">
  <h1 style=background:#290cd4;color:white;>Courses I am Taking</h1>
  <hr>
  <% current_user.enrolled_courses.each do |course| %>
    <h3 class="text-center">
        <%= link_to course.title, course_path(course) %>
    </h3>
    <br />
    <div class="booyah-box col-10 offset-1"> 
            <% if course.image.present? %>
                  <%= image_tag course.image.url, class: 'img-fluid' %>
            <% end %>
            <div class="row top-buffer">
                  <div class="col-12 col-sm-8">
                        <%= course.description %>
                  </div>
                  <div class="col-12 col-sm-4 text-center">
                        <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary'%>
                  </div>
            </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>

  <h1 style=background:#290cd4;color:white;>Courses I'm Teaching</h1>
  <hr>
  <% current_user.courses.each do |course| %>
        <h3 class="text-center">
              <%= link_to course.title, course_path(course) %>
        </h3>
        <br />
        <div class="booyah-box col-10 offset-1"> 
            <% if course.image.present? %>
                  <%= image_tag course.image.url, class: 'img-fluid' %>
            <% end %>
            
            <div class="row top-buffer">
                  <div class="col-12 col-sm-8">
                  <%= course.description %>
                  </div>
                  <div class="col-12 col-sm-4 text-center">
                  <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary' %>
                  </div>
            </div>
        </div>
        <hr class="col-8 offset-2">
        <br class="clr" />
  <% end %>

</div>